header {
    align-items: center;
    background: var(--main-color-1);
    border-radius: 20px;
    display: flex;
    height: 160px;
    justify-content: center;
    width: 100%;
}

header h3 {
    color: var(--secondary-color-4);
    font-weight: 900 !important;

}

h3 {
    color: var(--main-color-3);
    font-weight: 700 !important;
}

h4 {
    color: var(--secondary-color-3);
    font-size: medium;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 576px) {
    main img {
        max-width: 100px;
    }
}