<img src="/image/gambar_akun.png" alt="Gambar Akun"/>
<form>
    <label href=""class="mt-1">Nama</label>
    <input type="text" class="mb-1" value="Loading..." disabled id="nama">
    <label href=""class="mt-1">ID Kartu</label>
    <input type="text" class="mb-1"value="Loading..." disabled id="idKartu">
    <label href=""class="mt-1">No Handphonne</label>
    <input type="text" class="mb-1"value="Loading..." disabled id="noHandphone">
    <label href=""class="mt-1">E-Mail</label>
    <input type="text" class="mb-1"value="Loading..." disabled id="E-mail">

    <h3 class="mb-3 mt-4">Riwayat</h3>
    <div class="history-container">
        <div class="history-template d-flex justify-content-between">
            <p class="history-item text-secondary-color-3 my-2 fw-bold">Locker</p>
            <p class="history-item text-secondary-color-3 my-2 fw-bold">Card</p>
            <p class="history-item text-secondary-color-3 my-2 fw-bold">Schedule</p>
        </div>
    </div>
    <p class="text-center mt-4 pointer py-2 rounded-13 bg-secondary-color-2 rounded-3 mb-5 text-secondary-color-4" id="showMore">Show More</p>

    
</form>