<img src="/image/gambar_akun.png" alt="Gambar Akun"/>
<form>
    <label href=""class="mt-1">Nama</label>
    <input type="text" class="mb-1" value="Lanna Insan Darasta" disabled id="nama">
    <label href=""class="mt-1">ID Kartu</label>
    <input type="text" class="mb-1"value="1907421004" disabled id="idPengguna">
    <label href=""class="mt-1">No Handphonne</label>
    <input type="text" class="mb-1"value="081219074235" disabled id="noHandphone">
    <label href=""class="mt-1">E-Mail</label>
    <input type="text" class="mb-1"value="lanna191100@gmail.com" disabled id="E-mail">
    <hr>
    <h3 class="mb-3">Riwayat</h3>
    <div class="history-container">
        <div class="history-template d-flex justify-content-between">
            <p class="history-item text-secondary-color-3 text-start my-2">Loker 1</p>
            <p class="history-item text-secondary-color-3 text-end my-2">05/03/22</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
        </div>
        <div class="history-template d-flex justify-content-between">
            <p class="history-item text-secondary-color-3 text-start my-2">Loker 1</p>
            <p class="history-item text-secondary-color-3 text-end my-2">05/03/22</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>

        </div>
        <div class="history-template d-flex justify-content-between">
            <p class="history-item text-secondary-color-3 text-start my-2">Loker 1</p>
            <p class="history-item text-secondary-color-3 text-end my-2">05/03/22</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
        </div>
        <div class="history-template d-flex justify-content-between">
            <p class="history-item text-secondary-color-3 text-start my-2">Loker 1</p>
            <p class="history-item text-secondary-color-3 text-end my-2">05/03/22</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
        </div>
        <div class="history-template d-flex justify-content-between">
            <p class="history-item text-secondary-color-3 text-start my-2">Loker 1</p>
            <p class="history-item text-secondary-color-3 text-end my-2">05/03/22</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
        </div>
        <div class="history-template d-flex justify-content-between">
            <p class="history-item text-secondary-color-3 text-start my-2">Loker 1</p>
            <p class="history-item text-secondary-color-3 text-end my-2">05/03/22</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
        </div>
        <div class="history-template d-flex justify-content-between">
            <p class="history-item text-secondary-color-3 text-start my-2">Loker 1</p>
            <p class="history-item text-secondary-color-3 text-end my-2">05/03/22</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
        </div>
        <div class="history-template d-flex justify-content-between">
            <p class="history-item text-secondary-color-3 text-start my-2">Loker 1</p>
            <p class="history-item text-secondary-color-3 text-end my-2">05/03/22</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
            <p class="history-item text-secondary-color-3 text-end my-2">00:00</p>
        </div>
    </div>
    
</form>