<img src="/image/gambar_loker.png" alt="Gamber Loker"/>
<text>Loker 1</text>
<form>
    <label herf=""class="mb-3 fst-italic ">Status Locker</label>
    <p class="d-block mb-3 fst-italic">Digunakan</p>
    <label href=""class="mt-1">ID Kartu</label>
    <input type="text" class="mb-1" value="12345678" disabled>
    <label href=""class="mt-1">Nama Pengguna</label>
    <input type="text" class="mb-1" value="Lanna Insan Darasta" disabled>
    <div class="d-flex align-items-center justify-content-between">
        <button type="button" class="d-block mt-3 fst-italic">SELESAI</button>
    </div>
</form>